    /* Navbar.css */
   /* Custom Navbar Styling */
   .navbar {
       /* color: #fff; */
       /* background-color: #fff; */
       padding: 20px 20px;
       margin-bottom: 20px;
       margin-top: 40px;

   }
   
   #navContainer {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
       color: black;
   }
   
   .logo {
       font-size: 24px;
       color: rgb(0, 0, 0);
       font-weight: 600;
       /* margin-left: -8%; */
       display: flex;
       /* justify-content: left; */
       align-items: center;
       align-content: center;
   }
   
   .menu-icon {
       display: none;
       cursor: pointer;
   }
   
   .nav-menu {
       list-style: none;
       display: flex;
       gap: 20px;
       align-items: center;
       margin: 0;
   }
   
   .nav-menu li {
       display: flex;
       align-items: center;
   }
   
   .nav-item a {
       justify-content: space-between;
       align-items: center;
       color: #fff;
       text-decoration: none;
   }
   

   
   @media (max-width: 768px) {
       .menu-icon {
           display: block;
       }
       .nav-menu {
           display: none;
           flex-direction: column;
           position: absolute;
           top: 60px;
           left: 0;
           width: 100%;
           background-color: #333;
           padding: 20px 0;
           transition: all 0.3s ease;
       }
       .nav-menu.active {
           display: flex;
       }
   }
   

   #navContainer > div{
    color: white;
   }