.projects-row {
    margin: 0 auto;
    /* max-width: 1200px;  */
    /* margin-top: 2%; */
  }
  
  .projects-col {
    display: flex;
    justify-content: center;
  }
  
  .projects-card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .projects-card:hover {
    transform: scale(1.05);
  }
  
  .projects-card-body {
    text-align: center;
  }
  